QWidget#parent {
  background-image: url('images/window02.jpg');
}

QPushButton#button1 {
  background-image: url('images/button01.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

QPushButton#button1:pressed {
  background-image: url('images/button02.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
